body {
    background-color: rgba(203, 200, 196, 0.107);
}

.ticket-header {
    background-color: darkblue;
    padding: 50px;
    text-align: center;
    color: white;
}


.ticket-form {
    text-align: center;
    padding-top: 50px;
}

input {
    display: grid;
    margin: 10px;
}
button {
    border-radius: 25px;
    border: none;
   
}

#generate-btn{
    background-color: darkblue;
    color: white;
    padding: 6px;
    margin-right: 50px;
}

#cancel-btn{
    background-color: rgb(64, 64, 86);
    color: white;
    padding: 6px;
}
.buttons {

    margin: 50px;
    border-radius: 50;
    
}

.final-price {

    margin-top: 50px;
}


.ticket-result {
    background-color: rgb(0, 0, 142);
    padding: 50px;
    text-align: center;
    color: white;
}

.your-ticket {
     background-color: darkblue;
    padding: 50px;
    text-align: center;
    color: white;
}
.ticket-info {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

span {
    display: grid;
}


