.ticket-header {
    background-color: darkblue;
    padding: 50px;
    text-align: center;
    color: white;
}


.ticket-form {
    text-align: center;
    padding-top: 50px;
}

input {
    display: grid;
    margin: 10px;
}

.buttons {

    margin: 50px;
    
}

.final-price {

    margin-top: 50px;
}


.ticket-result {
    background-color: rgb(0, 0, 142);
    padding: 50px;
    text-align: center;
    color: white;
}

.your-ticket {
     background-color: darkblue;
    padding: 50px;
    text-align: center;
    color: white;
}
.ticket-info {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

span {
    display: grid;
}